<!--%= image_tag "1920x1200-155656-horse-landscape-reflection-sunset-nature-mountains-clouds-pink-blue.jpg" %-->
<div class="bg-cover bg-no-repeat" style="background-image: url(<%= asset_path '1920x1200-155656-horse-landscape-reflection-sunset-nature-mountains-clouds-pink-blue.jpg' %>)">
  <div class="flex flex-row p-4 bg-gradient-to-r from-sky-400 via-purple-500 to-pink-500 bg-opacity-30 rounded-md w-1/2">
    <turbo-stream action="replace" target="horse">
      <template>
        <span id="horse" class="text-9xl mr-4">🐴</span>
      </template>
    </tubo-stream>
    <div class="flex flex-col flex-grow space-y-2">
      <div class="flex flex-row space-x-3">
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-blue-900">S</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-blue-900">P</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-purple-900">E</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-purple-900">L</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-pink-900">L</div>
      </div>

      <div class="flex flex-row space-x-3">
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-blue-900">H</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-blue-900">O</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-purple-900">R</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-purple-900">S</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-pink-900">E</div>
      </div>
    </div>
  </div>
  <div class="bg-gradient-to-r from-sky-400 via-purple-500 to-pink-500 bg-opacity-60 rounded-md flex flex-col items-center space-y-2 p-3 w-1/2">
  <% for i in 0..5 do %>
    <div class="flex flex-row space-x-2">
      <% for i in 0..4 do %>
        <div class="border-2 border-white bg-grey-200 rounded-md p-4 font-bold text-l w-12 h-18">&nbsp;</div>
      <% end %>
    </div>
  <% end %>

  <div class="rounded-md flex flex-col items-center space-y-2 p-3">
    <% 
      kb_rows = [['Q', 'W', 'E', 'R', 'T', 'Y', 'U', 'I', 'O', 'P'],['A', 'S', 'D', 'F', 'G', 'H', 'J', 'K', 'L'],['Z', 'X', 'C', 'V', 'B', 'N', 'M']]
    %>
    <% for row in kb_rows do %>
      <div class="flex flex-row space-x-2">
        <% for key in row do %>
          <div class="border-2 border-white bg-grey-200 shadow-md rounded-md p-4 font-bold text-l w-12 h-18"><%=key%></div>
        <% end %>
      </div>
    <% end %>
      <div class="border-2 border-white bg-grey-200 shadow-md rounded-md p-4 font-bold text-l w-auto h-18">SUBMIT</div>
  </div>
</div>



