<div class="bg-cover bg-no-repeat" style="background-image: url(<%= asset_path '1920x1200-155656-horse-landscape-reflection-sunset-nature-mountains-clouds-pink-blue.jpg' %>)">
  <div class="flex flex-row p-4 bg-gradient-to-r from-sky-400 via-purple-500 to-pink-500 bg-opacity-30 rounded-md w-1/2">
    <turbo-stream action="replace" target="horse">
      <template>
        <span id="horse" class="text-9xl mr-4">🐴</span>
      </template>
    </tubo-stream>
    <div class="flex flex-col flex-grow space-y-2">
      <div class="flex flex-row space-x-3">
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-blue-900">S</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-blue-900">P</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-purple-900">E</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-purple-900">L</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-pink-900">L</div>
      </div>

      <div class="flex flex-row space-x-3">
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-blue-900">H</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-blue-900">O</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-purple-900">R</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-purple-900">S</div>
        <div class="border-2 border-gray-100 border-opacity-60 bg-white bg-opacity-10 rounded-md p-4 font-extrabold text-xl shadow-md shadow-pink-900">E</div>
      </div>
    </div>
  </div>  
</div>  